body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: #f7f7f7;
    color: #333;
}

#gameInputs {
    display: flex;
    flex-wrap: wrap;

    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 35%;
}

#gameInputs * {
    flex: 0 0 48%;
    margin: 10px auto;
}

#gameInputs input[type="number"],
#gameInputs input[type="text"] {

    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#gameContainer {
    width: -webkit-fill-available;
    display: none;
    flex-direction: column;
    margin: 0 25%;
}

#gameStatus {
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-size: 1.4em;
}

#game {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#game div {
    height: 5rem;
    flex: 0 0 calc(33.333% - 10px);
    border: 2px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
}

#game div:hover {
    background-color: #e9e9e9;
    transform: scale(1.05);

}

.startBtn,
.resetBtn {
    margin-top: 2vh;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.startBtn:hover,
.resetBtn:hover {

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.startBtn {
    background-color: #4CAF50;

    &:hover {
        background-color: #45a049;
    }
}

.resetBtn {
    background-color: #366cf4;

    &:hover {
        background-color: #412ed4;
    }
}

@media (max-width: 768px) {
    #gameInputs {
        margin: 0 2%;
    }

    #gameInputs * {
        flex: 0 0 100%;
    }

    #gameContainer {
        margin: 0 2%;
    }

    #game div {
        flex: 0 0 calc(50% - 10px);
        height: 5rem;
    }
}